* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.score {
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.score > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

.buttons, .winner {
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 16px
}

.icon {
    font-size: 24pt;
}